node_modules
backend/preprocessor/temp/
aux/cell_map/output/*

# Assets
data/*
!data/docker/
data/docker/*
dist/
public/*
build/**
build/
.bin
*.bin
.csv
.yalc/*
.yalc/
.yalc
.geojson
.mbt
.pbf

# Output
.output
.vercel
/.svelte-kit
/build
.svelte-kit/
.turbo/*
vocabulary.json

# OS
.DS_Store
Thumbs.db

# Env

.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
env/

# Turbo
.turbo/cookies/*
.turbo
